*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
.main_body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid rgba(0, 0, 0,0.1);
    border-radius: 2rem;
    width: 35rem;
    height: 50rem;
    text-align: center;
    padding-top: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.track{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    color: gray;
    text-transform: capitalize;
}
.img img{
    width: 22rem;
    margin-top: 2.9rem;
    border-radius: 50%;
    height: 22rem;
    background-size: cover;
    box-shadow: 0rem 0.1rem 0.8rem  rgba(0, 0, 0, 0.4);
}
.controls{
   display: flex;
   justify-content: space-evenly;
   align-items:center;
   height: 8rem;
}
.fas{
    font-size: 4rem;
    cursor: pointer;
}
.fa-play{
  border-radius: 50%;
  font-size: 1.5rem;
  width: 4.2rem;
  height: 4.2rem;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items:center;
}
.fa-play:before {
    margin-left: 0.4rem;
}
.fas:hover{
    color: grey;
}
.fa-play:hover{
    background-color: white;
    color: black;
    box-shadow: 0 1rem 2rem  rgba(0, 0, 0, 0.4);
}